[include]
	path = ~/.config/git/toptal.local.config
[credential "https://github.com"]
	helper =
	helper = !GH_CONFIG_DIR=$HOME/.config/gh-work /opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !GH_CONFIG_DIR=$HOME/.config/gh-work /opt/homebrew/bin/gh auth git-credential
[url "https://github.com/"]
	insteadOf = git@github.com:
